.App {
    text-align: center;
}

.header {
    margin-top: 20px;
}

.error {
    background-color: #f00;
    width: 80%;
    color: white;
    margin: 20px 10%;
    text-align: center;
}

.calc-input {
    margin: 0 15px;
}

.calc-buttons {
    display: flex;
    width: 280px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.calc-buttons > div {
    width: 25%;
    padding: 10px;
}

.calc-buttons > div > button {
    width: 80%;
}

.table {
    margin-top: 20px;
}
